<face-book-pixel pixel-page='book-prompt'></face-book-pixel>
<div class="edit-datetime-model">
    <div style="margin: auto;color: white !important;">
        <div style="padding-left: 10px">
            <h3>{{message}}</h3>
            <hr>
            <p style="font-size: 17px">{{'book_prompt.h5try_again' | translate}}</p>
            <div style="width: 135px;margin: auto">
                <button class="btn-blue"
                        style="width: 135px;height: 30px;border-radius: 20px;line-height: 25px;font-size: 15px"
                        ng-click="onCancelButtonClick()">
                    {{'book_prompt.h5ok' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>
<google-analytics analytics-page='/book-prompt.html'></google-analytics>


