<face-book-pixel pixel-page='privacy-policy'></face-book-pixel>
<div class="client-detail">
    <div style="margin: auto">
        <div style="font-size: 23px;font-weight: 300">
            <span style="color: #fff;">{{'privacy_policy.h5Terms_Conditions' | translate}}</span>
        </div>
        <br>
        <br>
        <div id="flow-disclaimer-div" style="color: #F2F2F2;font-size: 16px">
        </div>
        <div class="mg-t-xxl">
            <button type="submit"
                    ng-click="onCancelButtonClick()"
                    class="btn-blue btn center-block mg-t-xl">
                <span>{{'privacy_policy.h5Close' | translate}}</span>
            </button>
        </div>

    </div>
</div>
<google-analytics analytics-page='/privacy-policy.html'></google-analytics>