<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>Title</title>
    <style>
        body {
            width: 100% !important;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            margin: 0;
            padding: 0;
            font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        @media only screen and (max-width: 600px) {
            table[class="content_wrap"] {
                width: 94% !important;
            }

            .content {
                width: 95% !important;
            }

        }

    </style>
</head>
<body>
<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="black">
    <tr>
        <td width="100%">
            <table width="800" cellpadding="0" cellspacing="0" border="0" align="center" class="content_wrap"
                   style="margin-top: 25px;margin-bottom: 25px;border-radius: 5px" bgcolor="white">
                <tr>
                    <td>
                        <table align="center" style="padding: 25px 0">
                            <tr>
                                <td>
                                    <div class="logo radius"
                                         style="border: 1px solid white;border-radius: 100%;width: 133px;height: 133px;margin: auto;background: url('img/home-logo-s.png') no-repeat scroll 50% 0;background-size: cover">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="tittle" style="color: black;font-size:20px;text-align: center">
                                        <h1 style="margin-bottom: 0">Dear Client,<br> Please find your invoice below.
                                        </h1>
                                        <p style="margin-top: 10px">If you have any questions please contact us at
                                            <br>{compan_number &company_email}
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>


                <tr>
                    <td>
                        <table width="100%" style="border-top: 1px solid gray">
                            <tr>
                                <td style="padding-bottom: 25px">

                                    <div class="content"
                                         style="background: #f2f2f2;border-radius: 10px;width: 50%;margin: auto;margin-top: 15px;border: 1px grey solid;box-shadow: 1px 4px 6px black !important">
                                        <div style="padding: 15px; border-bottom: 1px solid dimgray">
                                            Your Trip
                                            <h1 style="margin: 0 0 15px 0;font-size: 50px">$65.00</h1>
                                            <div class=""
                                                 style="">
                                                <div class="shadow radius"
                                                     style="background: url('img/qqq.jpg');background-size: cover;width: 45px;height: 45px;border: 1px solid white;float: left;border-radius: 100%;box-shadow: 1px 4px 10px black !important">
                                                </div>
                                                <div class="" style="float: left;margin-left: 15px;width: 70%">
                                                    <p style="margin: 0;color: #848589">Client</p>
                                                    <h3 style="margin: 0">Jacob S.berlund</h3>
                                                </div>
                                                <div style="clear: both"></div>
                                            </div>
                                        </div>

                                        <div style="padding: 0 15px;border-bottom: 1px solid dimgray">
                                            <p>Trip</p>
                                            <div style="padding-left: 12px;padding-bottom: 15px;position: relative;overflow: hidden">
                                                <div style="color: #848589;margin-top: 15px">
                                <span class="circularlogo radius"
                                      style="display: inline-block;width: 19px;height: 19px;text-align: center;line-height: 19px;background: #282a4b;vertical-align: top;border-radius: 100%;color: white">A</span>
                                                    <div class="bookingaddress"
                                                         style="display: inline-block;margin: 0 0 0 5px;font-size: 17px;width: 70%">
                                                        <p style="margin: 0;color: black">Sunday,NOV.15,5:14PM</p>
                                                        <p style="margin: 0"> 6545 Somerset Blvd Santa Monica
                                                            CA,90028</p>
                                                        <div style="float: left;width: 49%">
                                                            <p style="margin: 0">Airline</p>
                                                            <p style="margin: 0">British Airline</p>
                                                        </div>
                                                        <div style="float: right;width: 49%">
                                                            <p style="margin: 0">Flight Number</p>
                                                            <p style="margin: 0">196</p>
                                                        </div>
                                                        <div style="clear: both"></div>
                                                    </div>
                                                </div>
                                                <div style="height: 70px;margin-top: -80px;margin-left:8px;width: 80%">
                                                    <div style="width: 3px;height: 200px;background: #99acc8;"></div>
                                                </div>
                                                <!--<div style="width: 3px;height: 200px;background: #99acc8;position: absolute;top: 34px;left: 20px"></div>-->
                                            </div>
                                            <div style="padding-left: 12px">

                                                <div style="color: #848589">
                                <span class="circularlogo"
                                      style="display: inline-block;width: 19px;height: 19px;text-align: center;line-height: 19px;border-radius: 100%;background: #305a96;vertical-align: top;color: white">B</span>
                                                    <div class="bookingaddress"
                                                         style="display: inline-block;margin: 0 0 0 5px;font-size: 17px;width: 70%">
                                                        <p style="margin: 0;color: black">Sunday,NOV.15,5:14PM</p>
                                                        <p style="margin: 0"> 6545 Somerset Blvd Santa Monica
                                                            CA,90028</p>
                                                        <div style="float: left;width: 49%">
                                                            <p style="margin: 0">Airline</p>
                                                            <p style="margin: 0">British Airline</p>
                                                        </div>
                                                        <div style="float: right;width: 49%">
                                                            <p style="margin: 0">Flight Number</p>
                                                            <p style="margin: 0">196</p>
                                                        </div>
                                                        <div style="clear: both"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--<div style="clear: both"></div>-->
                                            <div style="padding: 15px 0;border-top: 1px solid gray;margin-top: 15px;text-align: center">
                                                <div style="width: 33%;float: left">
                                                    Total Time
                                                    <div style="margin-top: 5px">
                                                        <img src="img/time.png" height="22" width="23"
                                                             style="vertical-align: middle"/><span
                                                            style="color: #848589;font-size: 16px"> 4:30</span>
                                                    </div>
                                                </div>
                                                <div style="width: 33%;float: left">
                                                    Distance
                                                    <div style="margin-top: 5px">
                                                        <img src="img/dis.png" height="22" width="27"
                                                             style="vertical-align: middle"/><span
                                                            style="color: #848589;font-size: 16px"> 24 mi</span>
                                                    </div>
                                                </div>
                                                <div style="width: 33%;float: left">
                                                    Rate
                                                    <div style="margin-top: 5px">
                                                        <img src="img/cost.png" height="22" width="27"
                                                             style="vertical-align: middle"/><span
                                                            style="color: #848589;font-size: 16px"> $260</span>
                                                    </div>
                                                </div>
                                                <div style="clear: both"></div>
                                            </div>
                                        </div>


                                        <div style="padding: 15px">
                                            <div class=""
                                                 style="">
                                                <div class="shadow radius"
                                                     style="background: url('img/qqq.jpg');background-size: cover;width: 45px;height: 45px;border: 1px solid white;float: left;border-radius: 100%;box-shadow: 1px 4px 10px black !important">
                                                </div>
                                                <div class="" style="float: left;margin-left: 15px;width: 70%">
                                                    <p style="margin: 0;color: #848589">Driver</p>
                                                    <h3 style="margin: 0">Michael Schumarcher</h3>
                                                </div>
                                                <div style="clear: both"></div>
                                            </div>
                                            <div>
                                                <p> Fare Breakdown</p>
                                                <div><img src="img/boder-top.png" height="8" width="100%"/></div>
                                                <!--<div style="height: 8px;background: url('img/boder-top.png') repeat-x;border: transparent;outline: none"></div>-->
                                                <div style="background: #47474e">
                                                    <table width="100%" cellpadding="10" cellspacing="0"
                                                           style="color: white">
                                                        <!--<tr>-->
                                                        <!--<td style="background: url('img/boder-top.png') repeat-x"  colspan="2">-->
                                                        <!---->
                                                        <!--</td>-->
                                                        <!--</tr>-->
                                                        <tr>
                                                            <td style="color: #79797e">Item Description</td>
                                                            <td style="text-align: right;color: #79797e">Cost</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Base Fare</td>
                                                            <td style="text-align: right;color: #ff4d00">$100</td>
                                                        </tr>
                                                        <tr style="background: #3d3d45">
                                                            <td>Add-Ons</td>
                                                            <td style="text-align: right;color: #ff4d00">$15</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding-bottom: 0">Subtotal</td>
                                                            <td style="text-align: right;padding-bottom: 0">$10</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding-top: 0;color: #79797e">Tax</td>
                                                            <td style="text-align: right;padding-top: 0;color: #79797e">
                                                                $10
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: right;border-top: 1px #3d3d45 solid"
                                                                colspan="2">Total $65.00
                                                            </td>
                                                        </tr>
                                                        <!--<tr>-->
                                                        <!--<td style="background: url('img/bottom-border.png') repeat-x #f2f2f2"  colspan="2"></td>-->
                                                        <!--</tr>-->
                                                    </table>
                                                </div>
                                                <!--<div style="height: 9px;background: url('img/bottom-border.png') repeat-x"></div>-->
                                                <div><img src="img/bottom-border.png" height="8" width="100%"/></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>


                            <tr>
                                <td style="border-top: 1px dimgray solid">
                                    <table align="center">
                                        <tr>
                                            <td>
                                                <div style="text-align: center">
                                                    <p style="font-size: 20px">Have you downloaded the Passenger App</p>
                                                </div>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div style="text-align: center">
                                                    <div class="social"
                                                         style="display: inline-block">
                                                        <a href="http://www.baidu.com" target="view_window"><img
                                                                src="img/App.png" height="42" width="130"/></a>
                                                    </div>
                                                    <div class="social"
                                                         style="display: inline-block">
                                                        <a href="http://www.163.com" target="view_window"><img
                                                                src="img/Google.png" height="42" width="130"/></a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>