<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>Title</title>
    <style>
        body {
            width: 100% !important;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            margin: 0;
            padding: 0;
            font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        @media only screen and (max-width: 600px) {
            table[class="content_wrap"] {
                width: 100% !important;
            }

            .carsmessage {
                width: 75% !important;
            }

            .rside {
                float: none !important;
            }
        }

    </style>
</head>
<body>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td width="100%">
            <table width="800" cellpadding="0" cellspacing="0" border="0" align="center" class="content_wrap"
                   style="padding: 10px;border: 1px solid blue">
                <tr>
                    <td>
                        <table align="center" style="padding: 25px 0">
                            <tr>
                                <td>
                                    <div class="logo radius"
                                         style="border: 1px solid white;border-radius: 100%;width: 133px;height: 133px;margin: auto;background: url('img/home-logo-s.png') no-repeat scroll 50% 0;background-size: cover">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="tittle" style="color: black;font-size:20px;text-align: center">
                                        <h1>Dear Client,<br> Below are your booking details.</h1>
                                        <p style="width: 90%;margin: auto;color:#616165">If you have any questions or if you need to make any changes to your <br>
                                            trip please contact us at
                                            <br>{compan_number &company_email}
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>


                <tr>
                    <td>
                        <table width="100%" style="border-top: 1px solid gray">
                            <tr>
                                <td>
                                    <h1 style="font-size:35px;color: #171821;font-weight: 100">Your Trip Details</h1>
                                </td>
                            </tr>
                            <tr>
                                <td>

                                    <div style="background: #3b76c9;border-radius: 10px;padding: 15px">
                                        <div style="padding-bottom: 16px; border-bottom: 1px solid dimgray">
                                            <div class="lside"
                                                 style="color: white;font-weight: bold;font-size: 20px;float: left">
                                                <p>Your trip on <span class="shadow"
                                                                      style="background: white;display: inline-block;padding:8px;border-radius: 10px;color:darkblue;box-shadow: 1px 4px 10px black !important">july 20</span>
                                                    at
                                                    <span class="shadow"
                                                          style="background: white;display: inline-block;padding:8px;border-radius: 10px;color:darkblue;box-shadow: 1px 4px 10px black !important">11:00 AM</span>
                                                </p>
                                            </div>
                                            <div class="rside"
                                                 style="color: white;font-weight: bold;font-size: 20px;float: right">
                                                <p> Amount Paid <span class="shadow"
                                                                      style="background: orangered;display: inline-block;padding:8px;border-radius: 10px;color:darkblue;box-shadow: 1px 4px 10px black !important;color: white">$140</span>
                                                </p>
                                            </div>
                                            <div style="clear: both"></div>
                                        </div>

                                        <div style="padding: 15px 0;border-bottom: 1px solid dimgray">
                                            <div style="float: left;width: 50%">
                                                Pickup Address
                                                <div style="color: white;margin-top: 15px">
                                <span class="circularlogo radius"
                                      style="display: inline-block;width: 25px;height: 25px;text-align: center;line-height: 25px;background: #282a4b;vertical-align: top;border-radius: 100%">A</span>
                                                    <p class="bookingaddress"
                                                       style="display: inline-block;margin: 0;font-size: 19px">481
                                                        West Lower River Dr.
                                                        <br> <span style="color: lightgray">Atwater,CA 95301</span></p>
                                                </div>
                                            </div>
                                            <div style="float: right;width: 50%">
                                                Dropoff Address
                                                <div style="color: white;margin-top: 15px">
                                <span class="circularlogo"
                                      style="display: inline-block;width: 25px;height: 25px;text-align: center;line-height: 25px;border-radius: 100%;background: #282a4b;vertical-align: top">B</span>
                                                    <p class="bookingaddress"
                                                       style="display: inline-block;margin: 0;font-size: 19px">255
                                                        Cliffside Drive
                                                        <br> <span style="color: lightgray">Los Angeles,CA 90028</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div style="clear: both"></div>
                                        </div>

                                        <div style="padding: 15px 0">
                                            <div style="width: 50%;float: left">
                                                Estimated Time
                                                <div style="margin-top: 5px">
                                                    <img src="img/time.png" height="22" width="23"
                                                         style="vertical-align: middle"/><span
                                                        style="color: white;font-size: 16px"> 4:30</span>
                                                </div>
                                            </div>
                                            <div style="width: 50%;float: right">
                                                Estimated Distance
                                                <div style="margin-top: 5px">
                                                    <img src="img/distance.png" height="22" width="27"
                                                         style="vertical-align: middle"/><span
                                                        style="color: white;font-size: 16px"> 24 mi</span>
                                                </div>
                                            </div>
                                            <div style="clear: both"></div>
                                        </div>

                                        <div>
                                            Timezone <span style="color: white">xian,china</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <table width="100%" style="border-bottom: 1px solid gray;padding-bottom: 25px">
                                        <tr>
                                            <td>
                                                <h1 style="font-size:35px;color: #171821;font-weight: 100">Driver & Vehicle</h1>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="carsmessage"
                                                     style="width: 40%;background: #3b76c9;border-radius: 10px;padding: 0 15px;color: white">
                                                    <div class=""
                                                         style="height: 50px;padding: 15px 0;border-bottom: 1px solid dimgray">
                                                        <div class="shadow radius"
                                                             style="background: url('img/qqq.jpg');background-size: cover;width: 45px;height: 45px;border: 1px solid white;float: left;border-radius: 100%;box-shadow: 1px 4px 10px black !important">
                                                        </div>
                                                        <div class="" style="float: left;margin-left: 15px">
                                                            <h3 style="margin: 0">Michael Schumarcher</h3>
                                                            <p style="margin: 0;color: lightgray">L12345678</p>
                                                        </div>
                                                        <div style="clear: both"></div>
                                                    </div>
                                                    <div style="border-bottom: 1px solid dimgray">
                                                        <div style="padding-top: 15px;text-align: center">
                                                            <img class="carspic" src="img/140-1.png" width="85%"
                                                                 height="100%"/>
                                                        </div>
                                                        <h2 style="margin: 0">Town Car</h2>
                                                        <p style="margin: 5px 0">Cadillac</p>
                                                    </div>
                                                    <div style="padding: 15px 0">
                                                        <div style="float: left">
                                                            <img src="img/passenger.png" height="19" width="19"
                                                                 style="vertical-align: middle"/>
                                                            <span>Max Passengers: 4</span>
                                                        </div>
                                                        <div style="float: right">
                                                            <img src="img/box.png" height="19" width="18"
                                                                 style="vertical-align: middle"/>
                                                            <span>Max Bags: 4</span>
                                                        </div>
                                                        <div style="clear: both"></div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <table align="center" style="padding: 25px 0">
                                        <tr>
                                            <td>
                                                <p style="font-size: 20px">Have you downloaded the Passenger App</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div style="">
                                                    <div class="social"
                                                         style="display: inline-block;float: left">
                                                        <a href="http://www.baidu.com" target="view_window"><img
                                                                src="img/App.png" height="42" width="130"/></a>
                                                    </div>
                                                    <div class="social"
                                                         style="display: inline-block;float: right">
                                                        <a href="http://www.163.com" target="view_window"><img
                                                                src="img/Google.png" height="42" width="130"/></a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>