<div class="container" >
    <div class="dashboard-wrapper">
        <div class="K-obmain poisR" style="border: none;padding:20px;">
            <h2 class="text-center" style="color:#333;font-size: 28px;">{{'easySignUp_finish.h5Title' | translate}}</h2>
            <p style="color:#aaa;font-size: 18px;">
                {{'easySignUp_finish.h5Desc' | translate}}
            </p>
            <a href="http://www.karldash.com"
               target="_blank" class="center-block go-to-dash"
               style="color: #fff;font-size: 16px;width: 200px;height: 35px;background: #4c6fff;margin:10px auto;text-align: center;border-radius: 15px;padding: 3px;">
                {{'easySignUp_home.h5Dashboard' | translate}}
            </a>
        </div>
    </div>
</div>