<div class="container">
    <div class="dashboard-wrapper">
        <div class="K-obmain poisR">
            <div class="autoclose">
                <button type="button"
                        ng-click="closeWindow()"
                        class="close" data-dismiss="modal" aria-label="Close"
                        style="color: red;opacity: 1;font-size: 30px;text-shadow: none;outline:none;"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="row">
                <img src="img/onboard/home-logo-s.png" class="center-block k-logo-s"/>
            </div>
            <div class="row obmt k-thank">
                <h1 class="text-center">{{'board_finish.h5Congratulations' | translate}}</h1>
                <p>
                    {{'board_finish.h5successfully' | translate}}
                </p>
            </div>

            <div class="k-addcompany">
                <h1>{{'board_finish.h5Check_email' | translate}}</h1>
                <!--<div class="text-left guidetext">-->
                    <!--This is a quick thing telling you to set your password before you start-->
                <!--</div>-->
            </div>
            <br/>
            <br/>
            <br/>
            <br/>
            <div>
                <div class="row">
                    <a href="{{dashboardUrl}}" class="center-block btn btn-orange">{{'board_finish.h5Go_to_dashboard' | translate}}</a>

                </div>
            </div>
        </div>
    </div>
</div>