<face-book-pixel pixel-page='prompt'></face-book-pixel>
<div class="client-detail" style="margin: auto;color: white !important;">
    <div class="prompt-words" style="padding-left: 10px">
        <h3>{{message}}</h3>
        <hr>
        <p style="font-size: 17px">{{'prompt.h5try_again' | translate}}</p>

        <a type="button" class="peyment-close" ng-click="onCancelButtonClick()"><i class="fa fa-close fb"></i></a>
        <div style="width: 135px;margin: auto">
        <button class="btn-blue" style="width: 135px;height: 30px;border-radius: 20px;line-height: 25px;font-size: 15px" ng-click="onCancelButtonClick()">
            {{'prompt.h5got_it' | translate}}
        </button>
    </div>
    </div>
</div>
<google-analytics analytics-page='/prompt.html'></google-analytics>


