<div class="client-detail">
    <a type="button" class="peyment-close" ng-click="onCancelButtonClick()"><i class="fa fa-close fb"></i></a>
    <h4><span class="fgray">{{'forgot_password.h5forgot_password' | translate}}</span></h4>
    <form id="forgotPwdForm" name="forgotPwdForm"
          data-toggle="validator" novalidate>
        <div class="o-blcok fw">
            <div class="form-group">
                <h6></h6>
                <input ng-model="email" class="myinput sign-mail"
                       type="email" placeholder="{{'comment.h5enter_email' | translate}}" required/>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="o-blcok fw">
            <h5>
                {{'forgot_password.h5temp_password_email' | translate}}
            </h5>
        </div>
        <div class="row mg-t-xl center-block area-bot">
            <button type="submit" class="btn-blue btn center-block"
                    ng-click="commitEmail(forgotPwdForm.$valid)">
                <span>{{'forgot_password.h5Send_Email' | translate}}</span>
            </button>
        </div>
    </form>
</div>
<google-analytics analytics-page='/forgot-password.html'></google-analytics>
