<div class="client-detail">
    <a type="button" class="peyment-close" ng-click="onCancelButtonClick()"><i class="fa fa-close fb"></i></a>
    <div>
        <h4 style="color: white">Edit Sales Rep</h4>
    </div>

    <div id="tabs">
        <ul class="nav-slider ">
            <li style="width:50%;" class="act-tab"><a ng-click="changeTabs(0)"
                                                      style="color: #fff;font-size: 22px;font-weight: 300">Sales Rep</a>
            </li>
            <li style="width:50%;"><a ng-click="changeTabs(1)" style="color: #fff;font-size: 22px;font-weight: 300">Companies</a>
            </li>
            <li class="slider" style="width:50%;"></li>
        </ul>

        <form id="SalesRepForm"
              name="SalesRepForm"
              data-toggle="validator"
              role="form"
              novalidate>

            <div ng-show="showSalesRep">
                <div class="form-group">
                    <input class="myinput"
                           type="text"
                           ng-model="salesRepInfo.first_name"
                           maxlength="50"
                           placeholder="{{'comment.h5first_name' | translate}}"
                           required/>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <input class="myinput"
                           type="text"
                           placeholder="{{'comment.h5last_name' | translate}}"
                           maxlength="50"
                           ng-model="salesRepInfo.last_name"
                           required/>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <input class="myinput sign-mail"
                           placeholder="{{'comment.h5email' | translate}}"
                           name="email"
                           type="email"
                           maxlength="100"
                           ng-model="salesRepInfo.email"
                           required/>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <input class="myinput sign-mobile"
                           type="tel"
                           placeholder="mobile"
                           name="mobile"
                           ng-model="salesRepInfo.mobile"
                           maxlength="18"
                           required/>
                    <div class="help-block with-errors"></div>
                </div>


                <div class="form-group">
                    <select class="myselect myinput testselect"
                            style="padding-left: 7px"
                            ng-model="salesRepInfo.country"
                            ng-options="country.countryCode as country.name for country in countrys"
                            required>
                    </select>
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    <input type="password" style="display: none">
                    <input class="myinput"
                           type="password"
                           placeholder="New Password"
                           autocomplete="new-password"
                           ng-model="salesRepInfo.password"/>
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    <input type="password" style="display: none">
                    <input class="myinput"
                           type="password"
                           placeholder="Confirm Password"
                           autocomplete="new-password"
                           ng-model="salesRepInfo.confirmPassword"/>
                    <div class="help-block with-errors"></div>
                </div>
            </div>

            <div ng-show="!showSalesRep">
                <div class="cl-block rates-sub-cont">
                    <ul>
                        <li ng-repeat="company in salesRepInfo.companies">
                            <input type="checkbox"
                                   value="checkbox" ng-model="company.isSelect"
                                   ng-disabled="company.marked===1"
                                   style="float: left"
                                   class="chbox dopoint">
                            <span style="max-width:80%;float: left;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap" class="fw"><b>{{company.name}}</b>
                            <span ng-show="company.sale_name && company.marked===1" style="color: #ff4b00">Sales By {{company.sale_name}}</span>
                            </span>
                            <div style="clear: both"></div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="mg-t-xxl">
                <button type="submit" style="margin-top: 30px;border-radius: 10px" ng-click="onSubmitButtonClick(SalesRepForm.$valid, $event)"
                        class="btn-blue btn center-block mg-t-xl">
                    <span>save</span>
                </button>
            </div>

        </form>
    </div>



</div>
<google-analytics analytics-page='/sales-rep-edit.html'></google-analytics>